@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* ---------------------------------------------------------------- */
/* body > div:nth-child(4),body > div:nth-child(3){
  display: none !important;
} */



.cards {
  display: flex;
  align-items: center;
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  height: 400px;
  width: 325px;
  perspective: 1000px;
}

.card {
  padding-top: 120px;
  transform-style: preserve-3d;
  background-position: center center;
  background-size: cover;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  box-shadow: #d8d530 0px 0px 20px -5px;
}
.card:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 20deg);
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
  opacity: 0;
}
.card:hover .content-box {
  opacity: 1;
}
.content-box .card-title {
  color: white;
  font-size: 25px;
  font-weight: 700;
  transition: all 1.5s ease-in-out;
  opacity: 0;
}
.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 25px);
}
.card:hover .content-box .card-title {
  opacity: 1;
}
.content-box .card-content {
  padding-top: 20px;
  font-size: 12px;
  color: #b9b9b9;
  transition: all 1.5s ease-in-out;
  opacity: 0;
}
.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 25px);
}

.card:hover .content-box .card-content {
  opacity: 1;
}

/* .content-box .see-more {
    margin-top: 18px;
    display: block;
    width: 100px;
    height: 26px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 10px);
    border: #f0ec04 solid 1px;
    border-radius: 5px;
    text-align: center;
    box-shadow: #f0ec04 0px 0px 5px;
    
}
.content-box .see-more:hover {
    transform: translate3d(0px, 0px, 50px);
} */

/* --------------------------Hidden Password Code------------------------------ */
.hidden-password {
  font-family: text-security-disc;
  -webkit-text-security: disc;
}
